##
# Redmine 7 – Umgebungsvariablen
# Kopiere diese Datei nach .env: cp .env.example .env
# Alternativ: bash generate-env.sh
##
TAG=7.0.0-alpine3.24
POSTGRES_VERSION=17
REDMINE_HOST=redmine.deinedomain.de
# Mit openssl rand -hex 64 generieren.
REDMINE_SECRET_KEY_BASE=OVERWRITE_ME
# Mit openssl rand -hex 24 generieren.
POSTGRES_PASSWORD=p4ssw0rd
REDMINE_RELATIVE_URL_ROOT=
PROXY_NETWORK=proxy_net
